<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>需要相機來辨識陀螺並顯示軌跡特效</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>錄影時需要麥克風收音</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>需要儲存錄製的影片到相簿</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
</dict>
</plist>
